<section class="h-100 bg-image" style="background-color: #000000;">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card custom-card">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5 text-warning">Log in to your account</h2>
  
                <form>
                  <div class="form-outline mb-4">
                    <input type="email" id="loginEmail" class="form-control form-control-lg" />
                    <label class="form-label" for="loginEmail">Email</label>
                  </div>
  
                  <div class="form-outline mb-4">
                    <input type="password" id="loginPassword" class="form-control form-control-lg" />
                    <label class="form-label" for="loginPassword">Password</label>
                  </div>
  
                  <div class="d-flex justify-content-center">
                    <button type="submit" class="btn custom-btn btn-lg">Login</button>
                  </div>
  
                  <p class="text-center text-muted mt-5 mb-0">
                    Don’t have an account? 
                    <a href="#login" class="text-highlight"><u>Register here</u></a>
                  </p>
                </form>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  