<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
<!--                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"-->
               ž
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form id = "signup-form">

                    <div class="text-center">
                        <h1 class="mt-1 mb-5 pb-1">Sign Up</h1>
                    </div>

                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="fullname" name = "fullname" class="form-control form-control-lg" />
                        <label class="form-label" for="fullname">Full name</label>
                    </div>

                    <div class="row mb-4">
                        <!-- Full Name Input -->
                        <div class="col-md-6">

                            <div data-mdb-input-init class="form-outline">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-text" id="basic-addon1">@</span>
                                    <input type="text" id="username" name = "username" class="form-control form-control-lg" aria-describedby="basic-addon1" />
                                </div>
                                <label class="form-label" for="username">Username</label>
                            </div>
                        </div>

                        <!-- Date of Birth Input -->
                        <div class="col-md-6">
                            <div data-mdb-input-init class="form-outline">
                                <input type="date" id="birthday"  name ="birthday" class="form-control form-control-lg" />
                                <label class="form-label" for="birthday">Date of birth</label>
                            </div>
                        </div>
                    </div>

                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="email" id="signup_email" name = "signup_email" class="form-control form-control-lg" />
                        <label class="form-label" for="signup_email">Email address</label>
                    </div>

                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="password" id="password_signup" name = "password_signup" class="form-control form-control-lg" />
                        <label class="form-label" for="password_signup">Password</label>
                    </div>

                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="password" id="repeat_password_signup" name = "repeat_password_signup"  class="form-control form-control-lg" />
                        <label class="form-label" for="repeat_password_signup">Repeat password</label>
                    </div>


                    <!-- Submit button -->
                    <button type="submit"  data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block">Sign in</button>



                </form>
            </div>
        </div>
    </div>
</section>

<script>
    FormValidation.validate("#signup-form", {}, function (data) {
        // Utils.block_ui("#add-patient-modal");

        RestClient.post(
            "users/add",
            data,
            function (response) {
                toastr.success("You have successfully added the user.");
            },
            function (xhr) {
                toastr.error(xhr);
            }
        );
    });
</script>